/************************************************
*	Media Queries								*
************************************************/

/* iPad Styles */
	
@media handheld, only screen and (max-width: 1023px) {
	
	/* Typography iPad */
	
	body {  
		font-size: 0.9rem; 
		line-height: 1.9; 
		}
	blockquote {
		font-size: 1.4rem;
		}
	}
		
@media handheld, only screen and (max-width: 1023px) {
	
	/* Theme iPad */
	
	.container {
		margin: 0px auto 0px;
		padding: 18px;
		}
	.menu a {
		font-size: .9em;
		padding: 0px 10px;
		}
	.slideshow .information {
		padding: 18px;
		}
	.slideshow .information .excerpt {
		display: none;
		}
	.slideshow .loading {
		min-height: 260px;
		}
	.homepage .eight.columns {
		display: block;
		width: 100%;
		}
	.home-tabs {
		margin-top: 24px;
		}
	.home-news, .home-tabs {
		margin-left: 0px;
		margin-right: 0px;
		}
	.featured-pages .information,
	.home-news .information,
	.home-tabs .ui-tabs .ui-tabs-panel {
		padding: 12px;
		}
	#portfolio-filter li a {
		font-size: .8em;
		}
	.search-results .post-author p {
		float: left;
		display: block;
		width: 100%;
		font-size: 0.9em;
		}
	.footer-content {
		text-align: center;
		}
	.footer-content .align-left {
		float: none;
		display: block;
		}
	.footer-content .align-right {
		float: none;
		display: block;
		text-align: center;
		margin-top: 18px;
		}
	
	}
	
/* iPhone */
	
@media handheld, only screen and (max-width: 767px) {

	/* Typography iPhone */
	
	h1 { 
		font-size: 1.8rem; 
		line-height: 1.4; 
		}
	h2 { 
		font-size: 1.6rem; 
		line-height: 1.4; 
		}
	h3 {  
		font-size: 1.4rem; 
		line-height: 1.4; 
		}
	h4 {  
		font-size: 1.2rem; 
		line-height: 1.4; 
		}
	h5 { 
		font-size: 1.1rem; 
		line-height: 1.4; 
		}
	h6 { 
		font-size: 1.0rem; 
		line-height: 1.4; 
		}
	.headline {
		font-size: 2rem;
		padding-bottom: 6px;
		}
	.title {
		font-size: 1.4rem;
		}
	body, p {  
		font-size: 0.9rem; 
		line-height: 1.7; 
		}
	blockquote {
		padding: 12px 0px;
		border-left: none;
		}
	blockquote p {
		font-size: 1rem;
		line-height: 1.6;
		}
	}
	
@media only screen and (max-width: 767px) {		

	/* Theme iPhone */
	
	#header {
		display: inline-block;
		width: 100%;
		height: auto;
		}
	#custom-header {
		margin: 0px;
		}
	.header-search {
		display: none;
		}
	#navigation {
		background: #ffffff;
		position: relative;
		top: auto;
		margin: 0px;
		padding: 0px;
		border-radius: 2px 2px 0px 0px;
		}
	#navigation.navigation-home {
		border-radius: 0px 0px 2px 2px;
		}
	.mobile-menu {
		margin: 0px;
		padding: 0px;
		}
	.menu-toggle,
	.main-small-navigation ul.mobile-menu.toggled-on {
		display: block;
		}
	.navigation-main ul.menu,
	.sf-sub-indicator {
		display: none;
		}
	.menu {
		display: block;
		}
	.menu-toggle {
		color: #333333;
		color: rgba(0, 0, 0, .7);
		font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
		font-size: 1.6em;
		font-weight: 400;
		letter-spacing: 0;
		text-transform: none;
		text-align: center;
		margin: 0;
		padding: 12px;
		}
	.menu-toggle:before {
		color: #cccccc;
		color: rgba(0, 0, 0, .2);
		font-family: 'FontAwesome';
		content: 'ïƒ‰ ';
		top: 1px;
		margin-right: 6px;
		position: relative;
		}
	.mobile-menu ul.sub-menu {
		display: block !important;
		visibility: visible !important;
		left: auto;
		margin: 0;
		padding: 0;
		}
	.mobile-menu ul,
	.mobile-menu li {
		list-style: none;
		margin: 0;
		padding: 0;
		}
	.mobile-menu li {
		display: block;
		text-align: center;
		line-height: 30px;
		}
	.mobile-menu li li a:before {
		content: '- ';
		}
	.mobile-menu li li li a:before {
		content: '-- ';
		}
	.mobile-menu li li li li a:before {
		content: '--- ';
		}
	.mobile-menu a {
		display: block;
		color: #999999 !important;
		color: rgba(0, 0, 0, .4) !important;
		font-size: 1.2em;
		text-decoration: none;
		padding: 6px 0px;
		border-top: 1px solid rgba(0, 0, 0, .1);
		}
	.mobile-menu a:hover {
		background: rgba(0, 0, 0, .08);
		color: #333333 !important;
		color: rgba(0, 0, 0, .7) !important;
		text-decoration: none;
		}
	.slideshow .loading {
		min-height: 180px;
		}
	.slideshow .information {
		padding: 18px 12px 0px 12px;
		}
	.slideshow .information .excerpt {
		display: block;
		}
	.flex-direction-nav .flex-next {
		right: 0px;
		border-radius: 2px 0px 0px 2px;
		}
	.flex-direction-nav .flex-prev {
		left: 0px;
		border-radius: 0px 2px 2px 0px;
		}
	.info-card {
		text-align: center;
		}
	.info-card #logo {
		float: none;
		display: block;
		width: 100%;
		text-align: center;
		margin: 0px 0px 18px 0px;
		}
	.info-card .contact-info p {
		float: none;
		display: inline-block;
		}
	.info-card .card-bio,
	#tweets .tweet {
		text-align: left;
		}
	.content {
		padding: 24px;
		}
	.postarea, .postarea.middle, .postarea.full {
		padding: 0px;
		}
	.post-author p {
		float: left;
		display: block;
		width: 100%;
		font-size: 0.9em;
		}
	.pagination {
		margin-bottom: 12px;
		}
	.feature-img.banner {
		border-radius: 0px;
		}
	.tweet-btn, .like-btn, .pin-btn, .plus-btn {
		float: left;
		}
	.archive-column {
		width: 100%;
		padding-right: 0;
		}
	.sidebar {
		background: none;
		margin: 0px;
		padding: 24px 0px;
		border-radius: 0px;
		}
	.sidebar.left {
		display: none;
		}
	.container form textarea {
		width: 94% !important;
		}
	#commentform textarea {
		width: 95% !important;
		}
	.woocommerce ul.products li.product, 
	.woocommerce-page ul.products li.product, 
	.woocommerce .cart-collaterals .cart_totals, 
	.woocommerce-page .cart-collaterals .cart_totals, 
	.woocommerce .cart-collaterals .shipping_calculator, 
	.woocommerce-page .cart-collaterals .shipping_calculator, 
	.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1, 
	.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
		width: 100% !important;
		}
	.container .woocommerce table.shop_table th, 
	.container .woocommerce-page table.shop_table th {
		font-size: 0.8em;
		padding: 4px;
		}
	.container .woocommerce table.shop_table td, 
	.container .woocommerce-page table.shop_table td {
		font-size: 0.7em;
		line-height: 1.4;
		padding: 4px;
		}
	.woocommerce table.cart .product-thumbnail, .woocommerce #content table.cart .product-thumbnail, .woocommerce-page table.cart .product-thumbnail, .woocommerce-page #content table.cart .product-thumbnail {
		display: none;
		}
	.woocommerce .cart .button, .woocommerce .cart input.button, 
	.woocommerce-page .cart .button, .woocommerce-page .cart input.button {
		margin: 2px;
		}
		
	/* Grid */
	
	body { 
		-webkit-text-size-adjust: none; 
		-ms-text-size-adjust: none; 
		width: 100%; 
		min-width: 0; 
		margin-left: 0; 
		margin-right: 0; 
		padding-left: 0; 
		padding-right: 0; 
		}
	.row { 
		width: 100%; 
		min-width: 0; 
		margin-left: 0; 
		margin-right: 0;
		overflow: visible !important;
		}
	.row .single, 
	.row .half, 
	.row .third, 
	.row .fourth { 
		width: 100%; 
		}
	.row .row .column, .row .row .columns { 
		padding: 0; 
		}
	.column, .columns { 
		width: auto !important; 
		float: none; 
		margin-left: 0; 
		margin-right: 0; 
		}
	.column:last-child, .columns:last-child { 
		margin-right: 0; 
		float: none; 
		}
	[class*="column"] + [class*="column"]:last-child { 
		float: none; 
		}
	[class*="column"]:before, [class*="column"]:after { 
		content:""; 
		display:table; 
		}
	[class*="column"]:after { 
		clear: both; 
		}
	}